<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>shoes-shop</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="/static/css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="/static/css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="/static/images/logo.png.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout footer_to90 about_page">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="/static/images/loading.gif" alt="#" /></div>
   </div>
   <!-- end loader -->
   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="header">
         <div class="header_top d_none1">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <ul class="conta_icon">
                        <li><a href="#"><img src="/static/images/call.png" alt="#" />Call us: +91 6354222979</a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-md-4">
                     <ul class="social_icon">
                        <li> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="header_midil">
            <div class="container">
               <div class="row d_flex">
                  <div class="col-md-4">
                     <ul class="conta_icon d_none1">
                        <li><a href="#"><img src="/static/images/email.png" alt="#" /> kp21043@gmail.com</a> </li>
                     </ul>
                  </div>
                  <div class="col-md-4">
                     <a class="logo" href="#"><img src="../static/images/logo2.png" style="height: 90px;" alt="#" /></a>
                  </div>
                  <div class="col-md-4">
                     <ul class="right_icon d_none1">
                        <a href="/cart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                           class="bi bi-cart4" viewBox="0 0 16 16">
                           <path
                              d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                        </svg> </a>
                        <a href="#" class="order">Order Now</a>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="header_bottom">
            <div class="container">
               <div class="row">
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                           data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                           aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item ">
                                 <a class="nav-link" href="/">Home</a>
                              </li>
                              <li class="nav-item ">
                                 <a class="nav-link" href="/about">About</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link active" href="#">Products</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="/contact">Contact Us</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
                  <div class="col-md-4">
                     <div class="search">
                        <form action="/action_page.php">
                           <input class="form_sea" type="text" placeholder="Search" name="search">
                           <button type="submit" class="seach_icon"><i class="fa fa-search"></i></button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- end header inner -->
   <!-- end header -->
   <div class="blue_bg">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>PRODUCTS</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- project section -->
   <div id="project" class="project">
      <div class="container col-md-10">
         <div class="row">
            <div class="product_main col-md-10" style="margin-left: 8%;">
               {% for i in products %}

               <div class="project_box ">
                  <div class="dark_white_bg"><img src="/media/{{i.image}}" alt="#" /></div>
                  <h1>Shoes </h1>
                  <h2>Rs {{i.price}} </h2>
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" fill="currentColor"
                     class="bi bi-cart-fill" viewBox="0 0 16 16">
                     <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <form id="cartform">
                     {% csrf_token %}
                     <button type="button" id="product_btn" pid="{{i.id}}" price="{{i.price}}" uid="{{user}}" contity=1
                        class="btn btn-outline-secondary">Add To Cart</button>
                  </form>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
      <!-- end project section -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <div class="inror_box">
                        <h3>INFORMATION </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                           suffered alteration in some form, by injected humour, or randomised words which don't look
                           even slightly believable</p>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="inror_box">
                        <h3>MY ACCOUNT </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                           suffered alteration in some form, by injected humour, or randomised words which don't look
                           even slightly believable</p>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="inror_box">
                        <h3>ABOUT </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                           suffered alteration in some form, by injected humour, or randomised words which don't look
                           even slightly believable</p>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="inror_box">
                        <h3>CONTACTS </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                           suffered alteration in some form, by injected humour, or randomised words which don't look
                           even slightly believable</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© Design by<a href="https://html.design/"> kishan patel</a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/js/custom.js"></script>
      <script src="/static/js/jquery.js"></script>
      <script>
         $(document).ready(function () {
            $(document).on('click', '#product_btn', function () {
               var pid1 = $(this).attr('pid')
               var uid = $(this).attr('uid')
               var contity = $(this).attr('contity')
               var price = $(this).attr('price')
               // return
               data = new FormData($('#cartform')[0])
               data.append('product_id', pid1)
               data.append('userid', uid)
               data.append('contity', contity)
               data.append('price', price)
               // data.append('csrfmiddlewaretoken',$('input[name="csrfmiddlewaretoken"]').val())
               // alert(contity)
               $.ajax({
                  type: 'POST',
                  url: '{% url "addtocart" %}',
                  processData: false,
                  contentType: false,
                  data: data,
                  success: function () {
                     // window.location('cart')
                  }
               })
            })
         })
      </script>
</body>

</html>